body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr max-content;
    gap: 10px;

    height: 100vh;
    width: 100vw;
    padding: 10px;
    margin: 0;

    background-color: #ecc;
}

header {
    grid-column: span 2;
    background-color: #988;
}