body {
    background-color: #567;
    color: #012;
}

header {
    background-color: #345;
    color: #def;
}

td * {
    width: 100%;
}

table {
    width: 100%;
}

.columns-2 {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 10px;
}

.ui-toolbar {
    margin-bottom: 10px;
}